/* work sans font */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Work+Sans:ital,wght@0,400;0,600;0,700;1,100&display=swap');

* {font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
 header{height: 900px;}
/* nav bar*/
.nav-bar{background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);}
.img-game{display: flex;
padding: 10px;
align-items: center;
}
span.G{color:deeppink;}

nav{display: flex;
justify-content: space-between;}
nav ul{display: flex;}
nav li{list-style: none;
    color: #3C354F;
    text-align: center;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
padding: 10px;}

nav a{ text-decoration: none;}
.follow{width: 262px;
    height: 56px;
    flex-shrink: 0;border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    }
    .btn-1{border: none;
        background: rgba(237, 235, 241, 0.906);}

/*head banner*/
.head{display: flex;
justify-content: space-between;
width: 1500px;
height: 1000px;
}
.head-bg{ height: 500px;}
.head-paragraph{ padding: 200px;
margin-top: -600px;
margin-bottom: 300px;
}
.play{color: #0B0223;
    font-size: 30px;
     font-weight: 600;
 }
    .goat{margin-top: 10px;
          font-size: 95px;
        font-weight: 800;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;}
.h-p{color: #534C64;
    margin-top:-10px;margin-bottom: 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;}
    .head-btn{display: inline-flex;
        padding: 21px 40px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 40px;
        background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
        color: #FFF;
        font-family: Work Sans;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: uppercase;}
        .head-btn1{display: inline-flex;
            padding: 21px 40px;
            align-items: flex-start;
            gap: 10px;
            border-radius: 48px;
            background: #4EC5F7;
            color: #FFF;
            font-family: Work Sans;
            font-size: 20px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;}

 
            /*online games */
            .online{text-align: center;
            height: 600px;}
            .games{color: #0B0223;
               
                font-family: Work Sans;
                font-size: 48px;
                
                font-weight: 700;
                }
                .funny{background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-family: Work Sans;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;}
                    .on-p{color: #534C64;
                        text-align: center;
                        margin-top: -50px;
                        font-family: Work Sans;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 30px; /* 166.667% */}


               .card{display: flex;
            justify-content: space-around;}
            .c-para{width: 342px;
                height: 400px;
                flex-shrink: 0;}

                .instant{display: flex;
                justify-content:space-around;
            padding-right: 10px;}

            .instant-paragraph{text-align: right;
               
        margin: 200px 200px;
           }
           .A{text-align: right;
            font-family: Work Sans;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 60px; /* 125% */
            background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;}
            .B{color: #0B0223;
                font-family: Work Sans;
                font-size: 48px;
                font-style: normal;
                font-weight: 700;
                line-height: 60px;}
                .angela{margin-top:-200px ;
                    margin-left: -150px;
                }
.icon9{display: grid;
    grid-template-columns: repeat(5, 1fr) ;
    
   padding: 20px;
   margin-left: 200px;}
.icon9-half{display: grid;
    grid-template-columns: repeat(4, 1fr) ;
   gap:10px;
    padding: 100px;
margin-left: 150px;}
.P{display: flex;
 border-radius: 50px;
background: #FFF;;}
.P:hover{
    border-radius: 50px;
border: 1.5px solid var(--Linear, #FF42A5);
background:deeppink;
width: 240px;
height: 60px;

}





















 /*responsive*/

 @media screen  and (max-width:576px) {
   header{height: 1700px;width: 1000px;
padding: -50px;}
    nav {
        flex-direction: column;
        align-items: center;
    }
    nav ul{flex-direction: column;
    padding: 10px;}
    div.head{flex-direction: column;
    align-items: center;
height: 1000px;width: 1000px;}
    div.Group18
    {margin-bottom: 9000px;
    margin-top: -400px;}

    .online{
    
    padding-left: 300px;
}
        
.card{flex-direction: column;
    align-items: center;}

    .c-para{width: 500px;
        height: 500px;
        }

   .on-text{text-align: center;}
    
} 



   
/*for tablet */
@media screen and (min-width:576px) and (max-width:960px){
    header{height: 1500px;width: 1000px;}
    div.head{flex-direction: column;
    width: 1000px;
height: 1000px; padding-left: 150px;}
        div.Group18{margin-bottom: 9000px;
            margin-top: -400px;
}
        
    
}
 
























































       